<table style="border: 1px solid black; border-collapse: collapse; width: 100%; text-align: center">
<thead style="border: 1px solid black;">
<tr>
  <th style="border: 1px solid black;">
    №
  </th>
  <th style="border: 1px solid black;">
    ID
    <input type="image" src="./assets/sortToSmall.png" alt="next page" style="width: 15px; height: 15px" (click)="stage.sortMy('id')">
  </th>
  <th style="border: 1px solid black;" >
    Имя
    <input type="image" src="./assets/sortToSmall.png" alt="next page" style="width: 15px; height: 15px" (click)="stage.sortMy('firstName')">
  </th>
  <th style="border: 1px solid black;">
    Фамилия
    <input type="image" src="./assets/sortToSmall.png" alt="next page" style="width: 15px; height: 15px" (click)="stage.sortMy('lastName')">
  </th>
  <th style="border: 1px solid black;">
    Почта
    <input type="image" src="./assets/sortToSmall.png" alt="next page" style="width: 15px; height: 15px" (click)="stage.sortMy('email')">
  </th>
  <th style="border: 1px solid black;">
    Телефон
    <input type="image" src="./assets/sortToSmall.png" alt="next page" style="width: 15px; height: 15px" (click)="stage.sortMy('phone')">
  </th>
</tr>
</thead>
<tbody>
<tr *ngFor="let row of refPersonList">
  <td style="border: 1px solid black" >
    {{row.num + 1}}
  </td>
  <td style="border: 1px solid black;" (click)="fullPersonInfo('row.id')">
    {{row.id}}
  </td>
  <td style="border: 1px solid black;">
    {{row.firstName}}
  </td>
  <td style="border: 1px solid black;">
    {{row.lastName}}
  </td>
  <td style="border: 1px solid black;">
    {{row.email}}
  </td>
  <td style="border: 1px solid black;">
    {{row.phone}}
  </td>
</tr>
</tbody>
</table>
<div style="display: flex; justify-content: space-evenly">
  <input type="image" src="./assets/before.png" alt="before page" style="width: 30px; height: 30px" (click)="swapPage(true)">
  <input type="image" src="./assets/next.png" alt="next page" style="width: 30px; height: 30px" (click)="swapPage()">
</div>
